<div class="container-fluid">
  <div class="card">
    <h2>User Details</h2>
    <div class="content">
      <div class="form-group">
        <label class="label"> Provider </label>
        <p class="input-field">
          {{ !isGitAccountData ? userDetails.provider : gitData.provider }}
        </p>
      </div>

      <div class="form-group">
        <label class="label"> Name </label>
        <p class="input-field">
          {{ !isGitAccountData ? userDetails.name : gitData.displayName }}
        </p>
      </div>

      <div class="form-group">
        <label class="label"> Email </label>
        <p class="input-field">{{ userDetails.email }}</p>
      </div>
      <div class="form-group" *ngIf="gitData.profileUrl">
        <label class="label"> Profile Url </label>
        <p class="input-field">
          <a href="{{ gitData.profileUrl }}">{{ gitData.profileUrl }}</a>
        </p>
      </div>
    </div>
    <button class="btn draw-border mt-5" (click)="signout()">Sign Out</button>
  </div>
</div>
